<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"] - Resturan.Presentaion</title>
    <link rel="stylesheet" href="~/css/BootsWatch.css" />
    <link rel="stylesheet" href="~/css/bootstrap-icons-1.9.1/bootstrap-icons.min.css"/>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary p-3 mb-5">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">Resturan.Presentaion</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">

                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link text-light " asp-page="/Customer/Cart/Index">
                                <i class="bi bi-cart"></i>
                            </a>
                        </li>
                        @{
                            if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-area="Admin" asp-page="/Index">Administrator</a>
                                </li>
                                
                            }
                            if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Reg/LogOut">Log Out</a>
                                </li>

                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Reg/SignUp">Sign Up</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-light" asp-page="/Reg/Login">Log Ing</a>
                                </li>
                            }
                        }

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>