@page "{id}"
@model Restaurant.MainApp.Presentation.Areas.Admin.Pages.Users.AddRoleModel
@{
}
<div class="row pt-4">
    <div class="col-6 mb-4">
        <h2 class="text-primary">Add Role</h2>
    </div>

</div>
@if (TempData["ErrorRole"] != null)
{
    <div class="alert alert-dismissible alert-danger">
        <text>@TempData["ErrorRole"]</text>
    </div>
}
<form method="post">
    <table class="table table-hover table-striped">
        <div asp-validation-summary="All" class="text-danger"></div>
        <thead class="table-dark">
        <tr>
            <th scope="col" class="text-center">Name</th>
            <th scope="col" class="text-center">Email</th>
            <th scope="col" class="text-center">Role</th>
        </tr>
        </thead>
        <tbody class="table-secondary">

        <tr>
            <td class="text-center align-middle">@Model.Roles.UserName</td>
            <td class="text-center align-middle">@Model.Roles.Email</td>
            <td class="text-center align-middle">
                <input type="hidden" asp-for="Roles.UserName"/>
                <input type="hidden" asp-for="Roles.Email"/>
                <div class="w-50 btn-group justify-content-center">
                    <select asp-for="Roles.RoleValue" asp-items="Model.Roles.RoleItem" class="form-select">
                        <option disabled selected>-Select Role-</option>
                    </select>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
    <button type="submit" class="btn btn-primary" style="width: 150px;">Save</button>
</form>