@page
@model Resturan.Presentation.Pages.Reg.SignUpModel
@{
    Layout = "Shared/_Authen";
}
<!-- form -->
<form class="login100-form validate-form" method="post">
    <span class="login100-form-title p-b-26 text-secondary">Sign Up Account</span>
    @if (TempData["AuthenError"] != null)
    {
        <div class="alert alert-dismissible alert-danger">
            <text>@TempData["AuthenError"]</text>
        </div>
    }
    <!-- please enter your email -->
    <div class="wrap-input100 validate-input">
        <label class="col-sm-6 col-form-label" asp-for="RegisterView.UserName"></label>
        <input asp-for="RegisterView.UserName" class="input100">

    </div>
    <span asp-validation-for="RegisterView.UserName" class="text-danger"></span>

    <div class="wrap-input100 validate-input">
        <label class="col-sm-6 col-form-label" asp-for="RegisterView.Email"></label>
        <input asp-for="RegisterView.Email" class="input100">
    </div>
    <span asp-validation-for="RegisterView.Email" class="text-danger"></span>

   
    <div class="wrap-input100 validate-input">
        <label class="col-sm-6 col-form-label" asp-for="RegisterView.PhoneNumber"></label>
        <input asp-for="RegisterView.PhoneNumber" class="input100">
    </div>
    <span asp-validation-for="RegisterView.PhoneNumber" class="text-danger"></span>

   
    <div class="wrap-input100 validate-input">
        <label class="col-sm-6 col-form-label" asp-for="RegisterView.Password"></label>
        <input asp-for="RegisterView.Password" class="input100">
    </div>
    <span asp-validation-for="RegisterView.Password" class="text-danger"></span>

   
    <div class="wrap-input100 validate-input">
        <label class="col-sm-6 col-form-label" asp-for="RegisterView.ConfirmPassword"></label>
        <input asp-for="RegisterView.ConfirmPassword" class="input100">
    </div>
    <span class="text-danger" asp-validation-for="RegisterView.ConfirmPassword"></span>

    <div class="form-check">
        <input class="form-check-input" asp-for="RegisterView.IsPersistent">
        <label class="form-check-label" asp-for="RegisterView.IsPersistent">
            Is Persistent
        </label>
    </div>
    <!-- /  please enter your username -->
    <!-- login button -->
    <div class="container-login100-form-btn">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button type="submit" class="login100-form-btn">Sign Up</button>
        </div>
    </div>
    <!-- / login button -->
    <!-- register-->
    <div class="text-center p-t-115">
        <span class="txt1">
            still registered?!
        </span>
        <a class="txt2 text-danger" asp-route="./Login" >Log In</a>
    </div>
    <!-- / register-->

</form>
<!-- / form -->